@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(21, 63, 71);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1em;
    line-height: 1.2em;
}

.container {
    max-width: 525px;
    margin: 10px auto;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

form input {
    width: 50px;
    font-size: 35px;
    height: 50px;
    text-align: center;
    padding-left: 12px;
}

form input:focus {
    outline: 1px solid var(--primary-color-darker);
}

form button {
    display: block;
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 10px solid;
    border-color: var(--primary-color-darker);
    background-color: var(--primary-color);
}

.result td {
    width: 50px;
    font-size: 35px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    border: 1px solid;
}

#num3,
#num6 {
    border-right: 5px solid;
    border-color: var(--primary-color-darker);
}

.linha3,
.linha6 {
    border-bottom: 5px solid;
    border-color: var(--primary-color-darker);
}

h2 {
    display: none;
}

.result {
    display: none;
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
}